<link rel="stylesheet" href="/static/style.css">


<h1>Zillow Information </h1>
<h2> Address: {{address}}</h2><br>

<h2>       House Ownership </h2>
<h3>Average Home Prices for {{zipcode}} in 2018: {{home_2018}} </h3>
<h3>Zestimate for this property: {{ze_home}} </h3><br>

<h2> Monthly Rent Cost </h2>
<h3>Average Rent Prices for {{zipcode}} in 2018: {{rent_2018}} </h3>
<h3>Zestimate Rent for this property: {{ze_rent}} </h3>

<h3><a href ={{url}}> More information on this property </a></h3>


<div class="entry">
  <form action="/back" method="POST">
      <!-- <p>id: <input type="hidden" name ="id" value='back'</p> -->
      <p><input type="submit" value="back"/></p>
  </form>
</div>
